<h1>
  {{title}}
</h1>



<a routerLink="/users" routerLinkActive="active" >Users</a> | 
<a routerLink="/posts" routerLinkActive="active">Posts</a>  |
<a routerLink="/products" routerLinkActive="active">Products</a>  



<router-outlet></router-outlet>



