

<span *ngIf = "!isEdit" >Title: {{post.title}} </span>

<span *ngIf = "isEdit" >Title: <input type="text" [(ngModel)] = "post.title"> 
<button (click) = "cancelEdit()" >cancel</button></span>
<button (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button>
