<p>
  products works!
</p>
 

 <h3>Posts list:</h3>
  <ul class="list-group-item products">
        <li class="list-group-item" *ngFor = "let product of products" 
          [class.active]="currentProduct == product"
          (click)="select(product)" >
          
        <app-product [product] = product   (deleteEvent)= "deleteProduct($event)" ></app-product>   


        <ul>
          <li *ngFor = "let cname of product.productCategory">
            {{(cname | async)?.cname}}
          </li>
        </ul>    

              
        </li>
  </ul>

<!--

<table class="table">

<thead>
<tr>
    <td>category</td>
    <td>name</td>
    <td>cost</td>
    <td>pid</td>
</tr>
</thead>
<tbody  class="list-group products">
  <tr *ngFor = "let product of products" [class.active]="currentProduct == product" >
    <app-product [product] = product ></app-product> 
 </tr> 
</tbody>
 
</table>
</div> 
 
-->