<div>


  <app-post-form (postAddedEvent) = "addPost($event)"></app-post-form>
  <!--<i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>-->
  <app-spinner [visible] = "isLoading"></app-spinner>
<h3>Posts list:</h3>
  <ul class="list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" 
          [class.active]="currentPost == post"
          (click)="select(post)" >
         <app-post [post] = post  (deleteEvent) = "deletePost($event)" 
                                    (editEvent) = "editPost($event)"></app-post>   

                                    <ul>
          <li *ngFor = "let name of post.postUser">
            {{(name | async)?.name}}
          </li>
        </ul>    
        </li>
  </ul>
</div>